# Normalize line endings
* text=auto eol=lf

# Godot text resources
*.gd      text eol=lf
*.tres    text eol=lf
*.tscn    text eol=lf
*.godot   text eol=lf
*.cfg     text eol=lf

# Binary
*.png     binary
*.jpg     binary
*.ogg     binary
*.wav     binary
*.ttf     binary
*.otf     binary
*.zip     binary
